.bankitem-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin: 6px;
}

.bankitem-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 
    width: 60vw;
    background-color: #F3F3F3;
    padding: 10px;
    border-radius: 8px;
}
.content-data {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

div.bankitem-content h2, p, div{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: black;
}

div.content-data > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.content-data img {
    height: 26px;
    margin: 3px;
}

div.content-data span {
    font-weight: 400;
}

.content-data-buttons {
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.content-data-buttons > div {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 5px 10px 5px 10px;
    margin: 5px;
    border-radius: 8px;
    border-width: 0;
    transition: 0.5s;
}

.content-data-buttons div > img {
    height: 20px;
}

.delete-button {
    background-color: #D88888;
}

.delete-button:hover {
    background-color: #E36C6C;
}

.edit-button {
    position: relative;
    background-color: #77CEB4;
}

.edit-button:hover {
    background-color: #2FD1A1;
}

.edit-button:hover .edit-menu {
    opacity: 1;
    visibility: inherit;
}

.edit-menu {
    position: absolute;
    top: 37px;
    right: -70px;

    opacity: 0;
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 3px;

    z-index: 2;
    transition: 0.3s;
}